<head></head>
<body>
  <div id="content">
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-Plan" role="tabpanel" aria-labelledby="pills-Plan-tab">
        <div id="addEtoile">
          <h3>Creez votre etoile</h3>
          <form (ngSubmit)="createSystem()"  [formGroup]="form">
            <input type="hidden" name="type_form" value="POST">
            <div class="form-group">
              <label for="add_nom">Nom :</label>
              <input required id="add_nom" name="nomInit" type="text" placeholder="Saisir le nom" class="form-control"  [formControl]="nom"><br>
            </div>
            <div class="form-group">
              <label for="add_type"></label>
              <input type="hidden" name="typeInit" value="Etoile" class="form-control">
            </div>
            <div class="form-group">
              <label for="add_masse">Masse (en kg) :</label>
              <input required id="add_masse" name="masseInit" type="number" placeholder="Saisir la masse" [formControl]="masse"><br>
            </div>
            <div class="form-group">
              <label for="add_diametre">Diametre (en km) :</label>
              <input required id="add_diametre" name="diametreInit" type="number" placeholder="Saisir le diametre" [formControl]="diametre"><br>
            </div>
            <div class="form-group">
              <label for="add_x0"></label>
              <input type="hidden" name="xInit" value="0">
            </div>
            <div class="form-group">
              <label for="add_y0"></label>
              <input type="hidden" name="yInit" value="0">
            </div>
            <div class="form-group">
              <label for="add_vx0"></label>
              <input type="hidden" name="vxInit" value="0">
            </div>
            <div class="form-group">
              <label for="add_vy0"></label>
              <input type="hidden" name="vyInit" value="0" >
            </div>
            <div class="form-group">
              <label for="add_id_parent"></label>
              <input type="hidden" name="id_parent" value="0" >
            </div>
            <div class="form-group">
              <button id="hideAddEtoile" class ="btn btn-success" type="submit" name="ajouter" value="Ajouter">ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
