<title>Initialisation</title>

<body>
  <div *ngIf="!attente">
    <h1>Initialisation</h1>

    <div id="addFormPlan">
      <h3>Entrez les conditions de la simulation</h3>
      <form (ngSubmit)="lancerSimu()" [formGroup]="form">
        <input type="hidden" name="type_form" value="POST" />
        <div class="form-group">
          <label for="add_timestep"
            >Nombre de timestep (1 timestep = 1 jour) :</label
          >
          <input
            required
            id="add_timestep"
            name="timestep"
            type="number"
            placeholder="Nombre de timestep"
            [formControl]="timestep"
          /><br />
        </div>
        <div class="form-group">
          <label for="add_calc">Voulez-vous des calculs simplifiés :</label>
          <input id="Oui" name="calc" type="checkbox" [formControl]="calc" />
          <label for="True">Oui</label>
          <br />
        </div>
        <div class="form-group">
          <button
            (click)="lancerSimu()"
            id="btnLanceSim"
            class="btn btn-success"
            [disabled]="form.invalid"
          >
            Demarrer la simulation
          </button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="attente">
    <h1>Veuillez patienter...</h1>
    <div>
      <audio
        controls
        autoplay
        id="musiqueAttente"
        loop="True"
        src="{{ source }}"
      ></audio>
      <select name="musiques" id="musiques" [(ngModel)]="source">
        <option
          value="http://localhost:8080/projetAstro/musiques/marmelade.mp3"
        >
          Marmelade
        </option>
        <option
          value="http://localhost:8080/projetAstro/musiques/swfrancais.mp3"
        >
          En bon François
        </option>
        <option value="http://localhost:8080/projetAstro/musiques/sw_flute.mp3">
          Flute
        </option>
        <option value="http://localhost:8080/projetAstro/musiques/alien.mp3">
          Alien
        </option>
        <option value="http://localhost:8080/projetAstro/musiques/expanse.mp3">
          Expanse
        </option>
        <option
          value="http://localhost:8080/projetAstro/musiques/rocketman.mp3"
        >
          RocketMan
        </option>
        <option value="http://localhost:8080/projetAstro/musiques/SpaOd.mp3">
          SpaOd
        </option>
        <option
          value="http://localhost:8080/projetAstro/musiques/capitaineFlam.mp3"
        >
          Capitaine Flam
        </option>
      </select>
    </div>
    <br />
    <img
      id="image"
      width="1500"
      height="800"
      src="http://localhost:8080/projetAstro/img/TPT{{ cptImage }}.png"
    />
  </div>
</body>
